<p-toolbar styleClass="navbar-toolbar">
  <!-- Left: Brand + nav links -->
  <ng-template #start>
    <a class="brand" routerLink="/">ED Survey Tools</a>

    <nav class="nav-links">
      <!-- Barfoo (public) -->
      <a class="nav-link" routerLink="/barfoo" routerLinkActive="active">
        Barfoo
      </a>

      <!-- Public Menu (public) -->
      <a class="nav-link" routerLink="/public-menu"
         [class.active]="isPublicMenuActive">
        Public Menu
      </a>

      @if (!authService.isConfigured) {
        <span class="nav-link warn-link" title="Authentication service unavailable">
          <i class="pi pi-exclamation-triangle"></i> Auth Unavailable
        </span>
      } @else if (authService.isLoggedIn) {
        <!-- Foobar (protected) -->
        <a class="nav-link" routerLink="/foobar" routerLinkActive="active">
          Foobar
        </a>

        <!-- Side Menu dropdown (protected) -->
        <a class="nav-link" [class.active]="isSidemenuActive"
           (click)="sideMenu.toggle($event)">
          Side Menu <i class="pi pi-chevron-down" style="font-size: 0.7rem"></i>
        </a>
        <p-menu #sideMenu [model]="sideMenuItems" [popup]="true" />
      }
    </nav>
  </ng-template>

  <!-- Right: User / Login -->
  <ng-template #end>
    @if (authService.isLoggedIn) {
      <p-button [text]="true" [plain]="true"
                (onClick)="userMenu.toggle($event)">
        <i class="pi pi-user"></i>
        &nbsp;CMDR {{ authService.user?.name }}
        <i class="pi pi-chevron-down" style="font-size: 0.7rem; margin-left: 0.3rem"></i>
      </p-button>
      <p-menu #userMenu [model]="userMenuItems" [popup]="true" />
    } @else if (authService.isConfigured) {
      <p-button label="Login" (onClick)="login()" size="small" />
    }
  </ng-template>
</p-toolbar>
